streamlit==1.34.0
st-pages==1.0.1
pandas==2.2.3
numpy==1.26.4           # Compatível com pandas 2.2.3
scikit-learn==1.3.2
spacy==3.7.2
pt_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.7.0/pt_core_news_lg-3.7.0-py3-none-any.whl
